.addform {
  width: 85%;
  margin: auto;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  border-top: solid #e8e8e8;
  border-width: 1px;
}

.addform input {
  width: 25%;
}

.addform input,
select,
button {
  padding: .5rem 2rem;
  margin-right: 1rem;
  background: none;
  border: 1px solid #e8e8e8;
}

.addform button {
  background-color: #0290ff;
  color: white;
  border: none;
  border-radius: 3px;
}

.addform form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  opacity: 0.5;
}
